xml/pago.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="localhost"
xmlns="localhost"
elementFormDefault="qualified">

<xs:element name="pago">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="emisor" type="xs:string"/>
      <xs:element name="receptor" type="xs:string"/>
      <xs:element name="tipo" type="xs:string"/>
      <xs:element name="motivo" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema> 